@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  width: 100%;
}

section {
  width: 100%;
  position: relative;
  padding: 100px;
  display: flex;
  align-items: center;
  background: #fff;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 100px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.top-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-wrapper .textBox {
  position: relative;
  max-width: 600px;
}
.top-wrapper .textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.3em;
  font-weight: 700;
}
.top-wrapper .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.top-wrapper .textBox p {
  color: #333;
}
.top-wrapper .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.top-wrapper .imgBox {
  display: flex;
  margin-top: 50px;
  position: relative;
  align-items: center;
}
.top-wrapper .imgBox img {
  max-width: 340px;
  position: relative;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}

.sns {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sns li {
  list-style: none;
}
.sns li:hover {
  transform: translateY(-5px);
}
.sns li a {
  display: inline-block;
  margin: 5px 0;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017243;
  clip-path: circle(600px at right 800px);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.service-wrapper {
  height: 500px;
  background-color: white;
  text-align: center;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: white;
  }
  25% {
    background-color: #c3f8e2;
  }
  50% {
    background-color: #59c497c5;
  }
  75% {
    background-color: #24a7709d;
  }
  100% {
    background-color: #017243;
  }
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: black;
}

.heading h2 {
  font-weight: bold;
}

.service {
  float: left;
  width: 25%;
  align-items: center;
  position: relative;
}

.service-icon {
  width: 100%;
  height: 40%;
}

.service-icon img {
  width: 30%;
}

.service-icon p {
  position: absolute;
  top: 150px;
  width: 100%;
  font-weight: bold;
  color: black;
}

.txt-contexts {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: black;
}

.service-icon img {
  width: auto;
  height: 150px;
  object-fit: cover;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  background-color: white;
  padding-bottom: 80px;
  text-align: center;
  width: 100%;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.ask-submit {
  font-weight: bolder;
  color: #889eab;
}

.mover {
  width: 40px;
  height: 40px;
  background-color: #c3f8e2;
  position: relative;
  animation-name: example1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes example1 {
  0% {
    background-color: #c3f8e2;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #59c497c5;
    left: 1100px;
    top: 0px;
  }
  50% {
    background-color: #24a7709d;
    left: 1100px;
    top: 330px;
  }
  75% {
    background-color: #017243;
    left: 0px;
    top: 330px;
  }
  100% {
    background-color: #c3f8e2;
    left: 0px;
    top: 0px;
  }
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #162a10;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
